.container.profile
  .avatar
    - if @user == current_user
      = form_with(model: @profile, url: profile_path(current_user), method: 'put', local: true, class: 'none', id: 'profile-post-form') do |f|
        = f.file_field :avatar, id: 'profile-avatar'
        = f.submit
    = image_tag @user.avatar_image, class: 'avatar-img', id: 'display-profile-avatar'
  .counter
    .counter-container
      .counter-number= @user.articles.count
      .counter-title= 'Posts'
    = link_to follower_path(@user) do	
      .counter-container
        .counter-number= @user.followers.count
        .counter-title= 'Followers' 
    = link_to following_path(@user) do
      .counter-container
        .counter-number= @user.followings.count
        .counter-title= 'Followings' 
  .image

= javascript_pack_tag 'profile'
  
