.container.article
  - @articles.each do |article|
    .child-container
      .header
        = image_tag article.user.avatar_image, class: 'avatar-img'
        .header-content
          %div= article.user.account
          .created-at
            = article.calc_elapsed_days
      .body
        %div{ id: "grid-container-#{article.id}" }
          - pictures_num = article.pictures.length
          - pictures_num.times do |n| 
            = image_tag article.pictures[n], class: 'item', id: "grid-item-#{article.id}-#{n}"
      .footer
        - if signed_in? 
          .icons
            %i{ class: "far fa-heart icons", id: "heart-#{article.id}", article_id: "#{article.id}" }
            = link_to article_comments_path(article) do 
              %i{ class: "far fa-comment icons", id: "comment-#{article.id}" }
            = link_to "https://twitter.com/share?ref_src=twsrc%5Etfw", class:"twitter-share-button", "data-show-count":"false"  do
              %i{ class: "fas fa-share-alt icons" }
            %div
            = 'Jasmine and 12,000 other liked your post'
        %div
          = article.description
= javascript_pack_tag 'article-index'