!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title InstaApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:content => "width=device-width, inicial-scale=1.0", :name => "viewport"}/
    %link{:href => "https://use.fontawesome.com/releases/v5.6.1/css/all.css", :rel => "stylesheet"}/
  %body
    %header
      .container
        .header
          .header-icon= display_icon
          .header-title= display_title
          .header-btn= display_btn
        - if flash.present?
          .flash
            - flash.each do |key,value|
              %div{ class: key }= value
    = yield
